<link href="/styles.css" rel="stylesheet" type="text/css">
<h1>Hai <%= name %>! </h1>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit" class="form__button">Log out</button>
</form>