<link href="/form-styles.css" rel="stylesheet" type="text/css">
<head>
    <title>Task Calculator</title>
</head>

<div class="container">
    <form action="/register" method="POST" class="form">
        <h1 class="form__title">Create Account</h1>
        <div class="form__input-group">
            <input type="text" class="form__input" id="name" autofocus placeholder="Name" name="name" required>
        </div>
        <div class="form__input-group">
            <input type="email" class="form__input" id="email" autofocus placeholder="Email" name="email" required>
        </div>
        <div class="form__input-group">
            <input type="password" class="form__input" id="password" autofocus placeholder="Password" name="password" required>
        </div>
        <div>
            <button class="form__button" type="submit">Register</button>
        </div>
    </form>
</div>